<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Edit Form</title>
</head>
<body>
    <h1>{{ pet.name }}</h1>
     
    {% if pet.photo_url %}
    <img src="{{ pet.photo_url }}">
    {% endif %}

    <h2>Update</h2>

    <form method="POST">
        {% include "_form.html" %}
        <button type="submit">Update</button>
    </form>
</body>
</html>